@import url('https://fonts.googleapis.com/css?family=Lato|Raleway');

/*colors:
    light blue: 39A5B7
    dark blue: 2a7a89
    light brown: 888888
    dark brown: 777777
    yellow: e6a800
    */

.nav ul {
    font-family: "Raleway", "Century Gothic", sans-serif;
    font-size: 1.5em;
    list-style-type: none;
    margin: 0;
    padding: 15px 0;
	text-align: center;
}

.nav li {
	display: inline;
    padding: 0 10px;
    color:#2a7a89;
}

.footer ul {
    font-family: "Raleway", "Century Gothic", sans-serif;
    font-size: 1em;
    list-style-type: none;
    margin: 0;
    padding: 5px;
	text-align: center;
}

.footer li {
    color:#2a7a89;
}

h1 {
	font-family: "Raleway", "Century Gothic", sans-serif;
	font-size: 2.5em; 
	margin: 5px 0;
    color:#39A5B7;
}

h2 {
	font-family: "Raleway", "Century Gothic", sans-serif;
	font-size: 1.5em;
	margin: 15px 5px 0 0;
    color:#2a7a89;
}

h3 {
	font-family: "Raleway", "Century Gothic", sans-serif;
	font-size: 1.25em;
	margin: 5px 0;
    color:#2a7a89;
}

p {
	font-family: "Raleway", "Century Gothic", sans-serif;
	font-size: 1.2em; 
	margin: 5px 0;
    color:#666666;
}

#about p {
	font-family: "Raleway", "Century Gothic", sans-serif;
	font-size: 1.5em;
	margin: 5px 0;
    color:#666666;
}

.main-body a:link, .main-body a:visited {
	color:#39A5B7;
	text-decoration: none;
}

.main-body a:hover, .main-body a:active {
    color: #88888888;
}

a.collab:hover,  a.collab:active {
    color: #666666;
}

.nav a:link, .nav a:visited, .footer a:link, .footer a:visited {
	color:#2a7a89;
	text-decoration: none;
}

.nav a:hover, .nav a:active, .footer a:hover, .footer a:active {
    color: #39A5B7;
}

#selected a:link, #selected a:visited {
	color:#39A5B7;
	text-decoration: none;
}

header {
	margin: 25px;
	text-align: left;
}

section {
	margin: 25px;
	text-align: left;
}

/*For footer at bottom of page, some code from http://codepen.io/cbracco/pen/zekgx */

html {
  height: 100%;
  box-sizing: border-box;
}

body {
  position: relative;
  margin: 0;
  padding-bottom: 6em;
  min-height: 100%;
}

.footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 0;
  border-style: solid;
  border-width: 2px 0 0 0;
  border-color: #2a7a89;
  text-align: center;
}


.project_item {
  display: inline-block;
  margin: 2px 5px; /*the bottom has some built in padding, I can't figure it out*/
  box-sizing:border-box;
  background: #eeeeee
}



.info {
    position: relative;
    width: 50%; 
    float: left; /*To get them next to each other if all else fails*/
}

.image {
    position: relative;
    float: left; /*To get them next to each other if all else fails*/
    background: black;
}